.btn {
			align:center;
			}
			.frm , .ans {
			border:1px solid #000000;
			border-radius:20px;
			padding:20px 0 20px 0;
			margin:0px
			align:center;
			}
			a {
			
			text-align:center;
			text-decoration:none;
			
			}
			p, .ans {
			text-align:center;
			
			}
			
			.input {
			margin:2px 0 20px 0;
			.
			padding:30px;
			border-radius:3px;
			text-indent:20px;
			}